
build/advancements
build/bin
build/debug
build/rcs
build/release
build/textures
build/.qmake.stash
build/Makefile
build/Makefile.Debug
build/Makefile.Release
build/*.rc
build/object_script.*
build/ui_*
build/deploy/repository*
build/deploy/*.exe
build/deploy-b/repository*
build/deploy-b/*.exe
build_x64/advancements
build_x64/bin
build_x64/debug
build_x64/rcs
build_x64/release
build_x64/textures
build_x64/.qmake.stash
build_x64/Makefile
build_x64/Makefile.Debug
build_x64/Makefile.Release
build_x64/*.rc
build_x64/object_script.*
build_x64/ui_*
build_x64/deploy/repository*
build_x64/deploy/*.exe
build_x64/deploy-b/repository*
build_x64/deploy-b/*.exe
Minecraft_Advancements/Backup-ReadJson.txt
Minecraft_Advancements/Backup-ChoixVersion.txt
\#Test/